.column {
    float: left;
    width: 20%;
}

h4 {
    text-align: left;
}
td {
    font-size: 25px;
    font-weight: bold;
}
th, td {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 200px;
    padding-right: 200px;
}