@model ASP_Test.Models.DegreeForm
@{
    Layout = "LayoutDefault";

}
    <form method="post" action="TestingForms">
    <div class="mb-3">
@*        <label for="" class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email" maxlength="30"/>


        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="StudentPassword" />*@

        @Html.TextBoxFor(d=>d.DegreeName,new {@class="form-control", @maxlength="5"})
        @Html.TextBoxFor(d=>d.VersionYear,new {@class="form-control", @maxlength="4"})
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("LogIn", "Home")'">Back To Log In</button>


