@{
    Layout = "LayoutDefault";
}
<div style="text-align:center;">


<h1>Welcome to PAPA</h1>
<p>This a degree planner aid for students at St. Martin's University.</p>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("LogIn", "Home")'">Go To Log In</button>
</div>
